node_modules
NODE_ENV=development

DB_HOST=mydbcluster.cluster-abcdefg.us-east-1.rds.amazonaws.com
DB_PORT=3306
DB_USER=cloudeats
DB_PASSWORD=cloudeats123
DB_NAME=cloudeatsdb

REDIS_HOST=my-redis.xxxxxx.0001.use1.cache.amazonaws.com
REDIS_PORT=6379

AWS_ACCESS_KEY_ID=AKIAWIYNYU3BEM3HJH  BS
AWS_SECRET_ACCESS_KEY=i4MSpZlBl17YnER1wGpldS5li0eEG77k0jsyAu  G5
AWS_REGION=us-east-1

FLEET_SERVICE_PORT=3001
INVENTORY_SERVICE_PORT=3002
NOTIFICATION_SERVICE_PORT=3003
ORDER_SERVICE_PORT=3004
PAYMENT_SERVICE_PORT=3005
